@model List<UserHubAdminPortal.Models.Users>
@{
    ViewBag.Title = "Users";
    Layout = null;

}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Users <span class="round-button" onclick="AddForm()">+</span>
            @* <button class="btn btn-primary btn-circle" onclick="AddForm()" style='margin-bottom:3px;float:right;'>
                <i class="bi bi-plus-circle"></i> Create
            </button> *@
        </h5>
        
        <div id="partial-body"></div>
    </div>
</div>


<div class="modal fade" id="largeModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="model-body">
            </div>
        </div>
    </div>
</div><!-- End Large Modal-->



    <script>
        $(document).ready(function () {
            loadData();
        });

        function loadData() {
            $.ajax({
                cache: false,
                url: '@Url.Action("List", "User")',
                beforeSend: function () {
                },
                success: function (Data) {
                    $("#partial-body").empty().append(Data);
                },
                complete: function () {

                }
            });
        }

        function Update() {
            $.ajax({
                cache: false,
                url: '@Url.Action("Update", "User")',
                type: "POST",
                data: $("#modal-form").serialize(),
                beforeSend: function () {
                },
                success: function (data) {
                    if (data.status) {
                        Swal.fire({
                            position: 'center',
                            title: appTitle,
                            text: data.message,
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        });

                        $("#largeModal").modal('hide');
                        loadData();
                    }
                    else{
                        Swal.fire({
                            title: appTitle,
                            text: data.message,
                            icon: 'error'
                        });

                    }
                },
                complete: function () {

                }
            });
        }

        function Add() {
            $.ajax({
                cache: false,
                url: '@Url.Action("Add", "User")',
                type: "POST",
                data: $("#modal-form").serialize(),
                beforeSend: function () {
                },
                success: function (data) {
                    if (data.status) {
                        Swal.fire({
                            position: 'center',
                            title: appTitle,
                            text: data.message,
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 1500
                        });

                        $("#largeModal").modal('hide');
                        loadData();
                    }
                    else{
                        Swal.fire({
                            title: appTitle,
                            text: data.message,
                            icon: 'error'
                        });

                    }
                },
                complete: function () {

                }
            });
        }

        function AddForm() {
            showModal(0, false)
        }

        function EditForm(UserID) {
             showModal(UserID, true)
        }

        function showModal(UserID, isEdit) {
            $.ajax({
                cache: false,
                url: '@Url.Action("GetForm", "User")',
                data: { UserID: UserID, isEdit: isEdit },
                beforeSend: function () {
                },
                success: function (Data) {
                    $("#model-body").empty().append(Data);
                },
                complete: function () {
                    $("#largeModal").modal('show');
                    $("#modal-form").submit(function (e) {
                       e.preventDefault();
                        if (isEdit == true) {
                            Update();
                        }
                        else {
                            Add();
                        }
                    });
                }
            });
        }
    </script>
